{% extends "bootstrap/base.html" %}
{% block title %}Fã Clube dos adoradores de Stop-Motion{% endblock %}
{% block navbar %}
<div style="background-color: purple;" class="navbar navbar-inverse" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle"
data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a  class="navbar-brand" href="/">Fã Clube dos adoradores de Stop-Motion</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href="/">Home</a></li>
<li><a href="/Coraline">Coraline</a></li>
<li><a href="/Noivacadaver">Noiva Cádaver</a></li>
<li><a href="/Frankweenie">FrankWeenie</a></li>
<li><a href="/Paranorman">ParaNorman</a></li>
</ul>
</div>
</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
<div class="page-header">
<h1>Melhores filmes Stop-Motion:</h1>
<h3>Coraline</h3>
<img style="margin-bottom: 5%; width: 50%; " src="/static/img/coraline.jpeg">

<h3>A Noiva Cadáver</h3>
<img style="margin-bottom: 5%; width: 50%; " src="/static/img/noiva.webp">

<h3>FrankWeenie</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/frank.jpg">

<h3>ParaNorman</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/Para.jpg">

<h3>A Fuga das Galinhas</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/fuga.webp">

<h3>Mary e Max</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/mary.jpg">

<h3>Wallace e Gromit: a maldição dos vegetais</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/wallace.jpg">

<h3>Ilha dos cachorros</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/ilha.jpg">

<h3>O Pequeno Príncipe</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/principe.jpeg">

<h3>Vida de abobrinha</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/vida.jpg">

<h3>O Fantástico Sr. Raposo</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/raposo.webp">

<h3>Os Boxtrolls</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/box.jpg">

<h3>Kubo e as cordas mágicas</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/Kubo.webp">

<h3>Shaun, o Carneiro</h3>
<img style="margin-bottom: 5%; width: 50%;" src="/static/img/shaun.jpg">

</div>
</div>
{% endblock %}